---
---

@import "{{ site.theme }}";

div {
  text-align: justify;
}

h4 {
	font-weight: bold;
}

h5 {
	font-size: medium;
}

.text-align-center {
  text-align: center;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}